<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.molo.service.web.dao.LoginDao">

	<select id="selectLoginInfo" parameterType="com.molo.service.web.dto.LoginInfoDto" resultType="com.molo.service.web.dto.LoginInfoDto">
		SELECT -- selectLoginInfo
			MEMBER_ID, PASS_KEY, PASS_FAIL_CNT, MEMBER_NAME, MEMBER_PHONENUM, MEMBER_INFO, IP, OTP_VALUE,
			DATE_FORMAT(NOW(), '%Y%m%d') AS NOW_DATE,
		    DATE_FORMAT(MODIFY_DATE, '%Y%m%d') AS MODIFY_DATE,
		    DATE_FORMAT(CREATE_DATE, '%Y%m%d') AS CREATE_DATE
		FROM TBL_MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND USE_YN = 'Y'
	</select>

    <update id="updateLoginResult" parameterType="com.molo.service.web.dto.LoginInfoDto">
        UPDATE TBL_MEMBER SET
              PASS_FAIL_CNT = #{passFailCnt}
            , MODIFY_DATE = NOW()
        WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="updateLoginOtp" parameterType="com.molo.service.web.dto.LoginInfoDto">
        UPDATE TBL_MEMBER SET
              OTP_VALUE = #{otpValue}
            , MODIFY_DATE = NOW()
        WHERE MEMBER_ID = #{memberId}
    </update>

</mapper>
